@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media (max-width: 920px) {
  html {
    font-size: 12px; /* 1rem = 14px */
  }
}
@media (max-width: 680px) {
  html {
    font-size: 10px; /* 1rem = 14px */
  }
}

* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #45b9d0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cf2374;
}
